html,
body {
  background-color: #0074d9;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
}

.centerFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.heavier {
  font-weight: bold;
}

.lighter {
  font-weight: 300;
}

.bigger {
  font-size: 4.5rem;
}
